$lightGrey: #f7f7f5;
$warmGrey: #615046;
$lightBlue: #e6eef6;
$mintGreen: #e0ecec;
$orange: #fe6100;
$bluePurple: #1e0072;
$lightOrange: #ffeadc;
$lightBrown: #d7d1c8;
$warmOrange: #000;
$deepGreen: #00625d;
