.c-collapsible {
  padding: 1.5rem;
  background-color: $lightGrey;
  border-top: 1px solid $warmGrey;
  border-bottom: 1px solid $warmGrey;
}

.c-collapsible__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.c-collapsible__button.collapsed .c-collapsible__button-arrow {
  transform: rotate(180deg);
}

.c-collapsible__body {
  // margin-top: 2rem;
}
