.c-speakers__speaker {
  width: 100%;
}

.c-speakers__speaker-header {
  display: flex;
  padding-top: 1.5rem;
}

.c-speakers__speaker-image {
  margin-right: 1rem;
  border-radius: 9999px;
}

.c-speakers__speaker-info {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
}

.c-speakers__speaker-name {
  padding-right: 2rem;
}

.c-speakers__speaker-description {
  padding-top: 3rem;
}
