.c-speakers__speaker-list {
}

.c-speakers__speaker {
  width: 100%;
}

.c-speakers__speaker-header {
  display: flex;
}

.c-speakers__speaker-image {
  margin-right: 1rem;
  border-radius: 9999px;
}

.c-speakers__speaker-info {
  padding-top: 1.25rem;
}

.c-speakers__speaker-description {
  padding-top: 3rem;
}
