
.c-transport-module {

  &__box-container {
    align-items: stretch;
  }
}

.c-box {

  &--col-1 {
    
  }
  &--col-2 {
    
  }
  &--col-3 {
    
  }

  // this reflects the padding that bootstrap adds with the col-* classes
  margin-bottom: 20px;
  @media (min-width: $width-lg) {
    margin-bottom: 30px;
  }

  & > .box-home {
    max-height: 15rem;
    margin: 0;
  }

  &__text-body {
    // copied some of this form the p tag styling of the other box style
    margin-bottom: 0;
    line-height: 1.75rem;
    max-height: 7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
    text-overflow: ellipsis;
  }
}

