.u-bg-color {
  // do important because we have to fight existing css
  &--green {
    background-color: $mintGreen !important;
  }
  &--blue {
    background-color: $lightBlue !important;
  }
  &--orange {
    background-color: $lightOrange !important;
  }
  &--grey {
    background-color: $lightGrey !important;
  }
  &--deep-blue {
    background-color: $bluePurple !important;
    color: white !important;
  }
<<<<<<< Updated upstream

}
=======
}
>>>>>>> Stashed changes
